* {
/*   border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container  {
  width: 100%;
  height: 100vh;
  display: inline-grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

#header {
  background-color: #ffffff;
  display: inline-grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  padding: 10px 20px;
}

#searchDiv {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2px;
  display: flex;
  align-items: center;
}

#searchDiv input {
  width: 100%;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #e2e8f0;
}

#userInfoDiv {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#userHeaderText {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

#greeting {
  text-align: left;
}

#headerButtonsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerButtonsDiv button {
  background-color: #1992d4;
  font-size: 20px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
  border-style: none;
  cursor: pointer
}

#sidebar {
  color: white;
  background-color: #1992d4;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;  
}

#dashTitleDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

#dashTitle {
  padding: 0;
}

#sidebar > ul {
  display: grid;
  list-style-type: none;
  padding: 20px;
  gap: 20px;
}

#sidebar > ul > a > li {
  display: flex;
  align-items: center;
  gap: 15px;
}

li > img {
  width: 30px;
  height: 30px;
}

.profilePic {
  border-radius: 50%;
  background-color: black;
  display: flex;
  flex-shrink: 0;
  background-image: url("./images/House-of-Beauty-by-Naluria.png");
}

#profilePicSmall {
  width: 40px;
  height: 40px;
}

#profilePicLarge {
  width: 50px;
  height: 50px;
}

#mainContent {
  position: relative;
  background-color: #e2e8f0;
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content;
  grid-gap: 20px;
  padding: 20px;
  padding-bottom: 40px;
}

#mainContent > h3 {
  padding-top: 10px;
}

#mainHeader {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#rightContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.infoContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.infoContainer > h4 {
  padding-bottom: 5px;
}

#announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#anouncementsContainer {
  justify-content: space-between;
}

.sideContainer {
  grid-column: 2 / 3;
  display: flex;
  min-width: 250px;
  flex-direction: column;
  height: auto !important;
  padding: 25px;
}

#announcementContainer > div > p {
  font-size: 15px;
  text-align: left;
}

#trending {
  grid-column: 2 / 3;
  padding-bottom: 10px;
}

#trendingContainer {
  display: grid !important;
  grid-template: repeat(4, 1fr) / 1fr 4fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.trendingAccounts {
  display: flex;
  flex-direction: column;
}

.trendingAccounts > p {
  font-size: 12px;
}

#cardContainer {
  grid-column: 1 / 2;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  height: 220px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 20px #c2c2c2;
  display: flex;
}

.cardHighlight {
  width: 10px;
  height: 100%;
  background-color: orange;
}

.cardContent {
  padding: 20px;
  width: 100%;
  position: relative;
}

.cardContent > p {
  padding-top: 10px;
  font-size: 15px;
}

.iconContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: inherit;
  display: flex;
  gap: 5px;
}

.cardIcons {
  width: 20px;
  height: 20px;
}

.linkWrapper {
  cursor: pointer;
}

a {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

h3 {
  padding-top: 30px;
}
